body
{
	background-image:url('background-pic.jpg');
	background-position: right bottom;
	background-repeat: no-repeat;
}

#container
{
	position: relative;
	margin-left: 15%;
	margin-right: 15%;
	height: 98%;
}

#header
{
 	background-image:url('logo.jpg');
 	background-position: center;
 	background-repeat: no-repeat;
 	height:15%;
}

#navbar
{
	height: 5%;
	width:100%;
	
}

#separator
{
	background-image:url('separator-line.jpg');
	background-position: center;
	background-repeat: no-repeat;
	height: 3%;
}

#contents
{
	margin-left: 10%;
	margin-right: 10%;
	height: 70%;
}

#column1
{
	float: left;
	width: 49%;
}

#column2
{
	float:right;
	width:50%;
}

p
{
	font-size: 22pt;
	font-family: courier new;
}

h3
{
	font-size: 36pt;
	font-family: courier new;
	text-align: center;
}